<div class="layout">
  <aside class="sidebar">
    <h2>📚 Sistema Académico</h2>

    <a routerLink="/seguimiento" routerLinkActive="activo"> 📂 Seguimiento </a>

    <a routerLink="/evaluaciones" routerLinkActive="activo">
      📊 Evaluaciones
    </a>

    <a routerLink="/pesos" routerLinkActive="activo">
      ⚖️ Verificación de Pesos
    </a>

    <a routerLink="/estadisticas" routerLinkActive="activo">
      📈 Reportes Estadísticos
    </a>

    <a routerLink="/reporte-word-departamentos" routerLinkActive="activo">
      📝 Word por Departamento
    </a>
  </aside>

  <main class="contenido">
    <router-outlet></router-outlet>
  </main>
</div>
